CUDA == 12.3
pytorch == 2.5.0 + cu121
#与此适配的pytorch，向下兼容
#pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121

matplotlib == 3.8.0
scipy == 1.10.1
tqdm == 4.66.4
py-opencv == 4.6.0

onnx == 1.16.0
onnxruntime == 1.17.1